{% extends "templates/web.html" %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block title %}
	{{ doc.name }}
{% endblock %}

{% block header %}
	<h1>{{ doc.name }}</h1>

	<script>
		frappe.ready(function () {
			var $termsBox = $("#contract-terms");
			var $agreeBtn = $("#agree-contract");
			var $signeeName = $("#contract-signee");
			var $shareBtn = $("#share-contract");
			var $shareEmails = $("#share-email");

			function validateContractSigning() {
				var isScrollVisible = $termsBox.get(0).scrollHeight > $termsBox.get(0).clientHeight;
				var isScrolledToBottom = $termsBox.get(0).scrollHeight - $termsBox.scrollTop() < $termsBox.outerHeight();
				var nameSigned = $signeeName.val();

				var isValid = ((isScrollVisible && isScrolledToBottom) || !isScrollVisible) && (nameSigned && nameSigned.length > 3);
				if (isValid) {
					$agreeBtn.removeClass("disabled");
				} else {
					$agreeBtn.addClass("disabled");
				}

				return isValid;
			};

			function validateEmails(emails) {
				if (!emails) {
					return;
				}

				emailList = []
				isValid = true;

				// emails can be separated by comma or newline
				emails.split(/[,\n](?=(?:[^"]|"[^"]*")*$)/g).forEach(function (email) {
					email = email.trim();

					if (email) {
						emailList.push(email);
					}
				});

				emailList.forEach(function (email) {
					if (!validate_email(email)) {
						isValid = false;
					};
				});

				if (isValid) {
					$shareBtn.removeClass("disabled");
				} else {
					$shareBtn.addClass("disabled");
				}

				return emailList
			};

			$shareBtn.on("click", function () {
				if (!validateEmails($shareEmails.val())) {
					return;
				}

				frappe.call({
					method: "erpnext.crm.doctype.contract.contract.send_contract_email",
					args: {
						doc_name: $("#contract-terms").data('doc-name'),
						email_recipients: $shareEmails.val()
					},
					freeze: true,
					freeze_message: __("Sharing..."),
					callback: function (r) {
						if (!r.exc) {
							frappe.msgprint(__("The contract was successfully shared."))
						}
					}
				});
			});

			$agreeBtn.on("click", function () {
				if (!validateContractSigning()) {
					return;
				}

				frappe.call({
					method: "erpnext.crm.doctype.contract.contract.accept_contract_terms",
					args: {
						dn: $("#contract-terms").data('doc-name'),
						signee: $('#contract-signee').val()
					},
					freeze: true,
					freeze_message: __("Saving..."),
					callback: function (r) {
						if (!r.exe) {
							window.location.reload();
						}
					}
				})
			});

			$shareEmails.on("change keyup", function () {
				validateEmails($shareEmails.val());
			});

			$signeeName.on("change keyup", function () {
				validateContractSigning();
			});

			$termsBox.bind("scroll", function (e) {
				validateContractSigning();
			});
		});
	</script>
{% endblock %}

{% block header_actions %}
	<a class='btn btn-xs btn-default' href='/printview?doctype={{ doc.doctype }}&name={{ doc.name }}&format=' target="_blank" rel="noopener noreferrer">{{ _("Print") }}</a>
{% endblock %}

{% block page_content %}
	<div id="contract-terms" data-doc-name="{{ doc.name }}">
		<p>{{ doc.contract_display }}</p>
	</div>

	{% if not doc.is_signed %}
		<div class="row" style="margin-top: 1em;">
 		Please read the contract carefully before agreeing.
		</div>
	{% else %}
		<div class="row" style="margin-top: 1em;">
			This contract was signed by <strong>{{ doc.signee }}</strong> on <strong>{{ frappe.format_date(doc.signed_on) }}</strong>.
		</div>
	{% endif %}

	<div class="row" style="margin-top: 2em;">
		<form class="col-sm-6" style="text-align: left;">
			<div style="display: inline-block">
				<label for="share-email" style="display: block; font-size: 0.8em;">Email a copy to: (use commas to separate multiple IDs)</label>
				<input id="share-email" type="email" placeholder="manager@x.com, artist@x.com" maxlength="512" multiple>
			</div>
			<button id="share-contract" class="btn btn-primary btn-sm disabled">Send</button>
		</form>
		{% if not doc.is_signed %}
			<form class="col-sm-6" style="text-align: right;">
				<div style="display: inline-block; text-align: left;">
					<label for="contract-signee" style="display: block; font-size: 0.8em;">Your Full Name:</label>
					<input id="contract-signee" class="required" type="text" required>
				</div>
				<button id="agree-contract" class="btn btn-primary btn-sm disabled">I Agree</button>
			</form>
		{% endif %}
	</div>

	<style>
		#agree-contract.btn-primary, #share-contract.btn-primary {
			font-size: 1.2em;
			padding: 0.1em 1em;
			margin: 0.9em 0em;
		}

		#agree-contract.btn-primary.disabled, #share-contract.btn-primary.disabled {
			background-color: #292929;
			border-color: #292929;
		}

		#share-email {
			width: 100%;
		}

		#contract-signee.required {
			box-shadow: 0px 0px 10px 1px rgba(255, 0, 0, 0.37);
			border: 1px solid #f00;
		}

		#contract-signee {
			border-radius: 4px;
			border: 1px solid darkgrey;
		}

		#contract-terms {
			overflow: auto;
			height: 50vh;
			width: auto;
			border: 1px solid #c1c1c1;
			padding: 1.5em;
		}

		a.btn-default, button.btn-default {
			color: #ffffff;
			font-family: oswald;
			border-radius: .1em;
			background-color: #292929;
			font-size: 1em;
			border: none;
			padding: .3em 1em;
			margin: .3em 0;
		}

		a.btn-default:hover, button.btn-default:hover {
			background-color: #292929;
			color: #ffffff;
		}
	</style>
{% endblock %}
