{% extends "templates/base.html" %}
{% block title %}{{ topic.name }}{% endblock %}
{% from "www/lms/macros/hero.html" import hero %}
{% from "www/lms/macros/card.html" import null_card %}
{% from "www/lms/macros/menu.html" import menu %}

{% block head_include %}
	<link rel="stylesheet" href="/assets/erpnext/css/lms/sidebar.css">

	<style>
		.course-progress {
			margin-top: 2.5rem;
		}
		.course-progress .progress {
			border-radius: 1rem;
			border: 1px solid #7ec45e;
			height: 0.5rem;
		}
		.course-progress .progress-bar {
			background-color: #7ec45e;
		}
		.continue-learning-btn {
			background-color: #76c2ba;
			color: #fff;
			border: 2px solid #76c2ba;
			border-radius: 8px;
			padding: 10px 30px;
			text-transform: uppercase;
			outline: 0;
		}
		.continue-learning-btn:hover {
			background-color: #fff;
			color: #76c2ba;
		}
	</style>
{% endblock %}

{% block content %}
<section class="section row mx-0">
	<div class='col-sm-3 side-nav pr-0'>
		{% for topic in course_topics %}
			{{ menu(topic, program, course) }}
		{% endfor %}
	</div>
	<div class="col-sm-9 side-container">
		<div class="d-flex flex-row justify-content-between">
			<div class="course-title col-md-9">
				{{ hero(topic.topic_name, topic.description, has_access, {'name': 'Course', 'url': '/lms/course?name=' + course +'&program=' + program}) }}
				{% if ongoing_topic %}
					<a href="/lms/content?program={{ program }}&course={{ course }}&topic={{ topic.name }}&type={{ ongoing_topic.doctype }}&content={{ ongoing_topic.name }}" class="btn continue-learning-btn">Continue Learning</a>
				{% else %}
					<a href="/lms/content?program={{ program }}&course={{ course }}&topic={{ topic.name }}&type={{ course_topics[0].topic_content[0].content_type }}&content={{ course_topics[0].topic_content[0].content }}" class="btn btn-primary btn-next ml-3">Next</a>
				{% endif %}
			</div>
			<div class="course-progress col-md-3">
				{% if has_access and not has_super_access and not frappe.session.user == 'Administrator' %}
					<p class="text-right mb-0">{{program}} </p>
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: {{total_progress}}%;" aria-valuenow="{{total_progress}}" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<p class="text-right mb-0">{{total_progress}}% Completed </p>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block script %}
<script src='/assets/erpnext/js/education/lms/sidebar.js'></script>
{% endblock %}